body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(89deg, rgb(98, 224, 247) 0%, rgb(4, 135, 222) 100%);
    /* w3c */
}

button {
    cursor: pointer;
}